.contact-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #111117;
  height: 100%;
  padding: 20px;
}

.contact-list-content {
  width: 100%;
  max-width: 600px; /* Ajusta según tu diseño */
  padding: 20px;
  background: #1e1e2d;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h2 {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 1.8rem;
}

.contact-item {
  background: #2a2a36;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 16px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  ion-label {
    color: #ffffff;
  }

  ion-button {
    margin-left: 8px;
  }
}

.contact-item ion-label {
  font-size: 1rem;
}

.buttons-container {
  margin-top: 24px;
  width: 100%;
}

.buttons-container ion-button {
  margin-bottom: 12px;
  border-radius: 8px;
  font-weight: bold;
}

.no-contacts-text {
  font-size: 1rem;
  color: #888;
  text-align: center;
}

ion-button {
  --border-radius: 8px;
  --background: #e84e84;
  --color: #fff;
}

ion-button[color='primary'] {
  --background: #e84e84;
  --background-hover: #ff5c99;
}

ion-button[color='medium'] {
  --background: #4e5c67;
  --background-hover: #6d7a83;
}
