<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contact-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveContact()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="contact.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="contact.phone" name="phone" type="tel" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top" color="success">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
